run = ""
modules = ["python-3.10:v25-20230920-d4ad2e4"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000

[deployment]
run = ["sh", "-c", ""]
